* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    background-color: #666363;
}

body{
  height: 1400px;

}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.main h1 {
    letter-spacing: 0.2em;
}

.main h1, .main p {
    grid-column: span 3;
    margin: 0 auto;
}


#letter {
    color: white;
    font-size: 50px;
}

#normalefoto{
-webkit-filter: blur(1px);filter: blur(1px);
transition: all .3s ease;
height: 100%;
width: 100%;
}



#verticalSpan {
    grid-row: span 2;
    -webkit-filter: blur(1px);filter: blur(1px);
    transition: all .3s ease;
}
